body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.experience {
    color:  rgb(59, 34, 0);
    background-color: white;
    padding-top: 10px;
    padding-bottom: 11px;
    border-radius: 7px;
    margin-left: -1px;
}

.nav-links .experience{
    color:  rgb(59, 34, 0);
    padding-bottom: 11.1px;
}

#experience {
    display: flex;
    /* align-items: center;
    justify-content: center;
    height: 612px;
    gap: 3rem; */
}

.first {
    color: saddlebrown;
    font-size: x-large;
    margin-bottom: 0;
    
}

.second {
    margin-top: 5px;
    margin-bottom: 0;
    color: burlywood;
    font-size: xx-large;
    font-weight: bolder;
}

.third{
    color: saddlebrown;
    font-size: xx-large;
    margin-top: 5px;
}

.experience-con {
    border: 1px solid saddlebrown;
    border-radius: 7px;
    padding: 17px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.con {
    display: flex;
    gap: 2rem;
}

.icon {
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    margin-left: 7px;
    cursor: pointer;
    height: 2rem;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}


.article-con {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
    
}

.strenght {
    color: burlywood;
    font-weight: bold;
}



